# ===== OS =====
.DS_Store

# ===== IntelliJ IDEA =====
.idea/
*.iml
*.iws
*.ipr
out/

# ===== Maven / Gradle =====
target/
*.log

# ===== Spring Boot =====
*.pid

# ===== Misc =====
hs_err_pid*
replay_pid*
